*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/casey.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 50px; */
}

img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(250, 15, 117);
  min-height: 100vh;
  width: 700px;
  border-radius: 10px;
  font-size: 16px;
  padding: 0px 30px;
}

P {
  font-size: 20px;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #3d3d3d;
  font-weight: bold;
}

input {
  width: 300px;
  height: 40px;
  padding: 10px;
  border-radius: 3px;
}

a {
  text-decoration: none;
}

button {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  height: 40px;
  background-color: #3882f6;
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
}

#already {
  color: #3a3b3c;
}

input:focus {
  box-shadow: 3px 3px 10px #3882f6;
  border: none;
  outline: none;
}
